@font-face {
    font-family: 'eras_demi_itcregular';
    src: url('../fonts/eras_demi_itc-webfont.eot');
    src: url('../fonts/eras_demi_itc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eras_demi_itc-webfont.woff') format('woff'),
         url('../fonts/eras_demi_itc-webfont.ttf') format('truetype'),
         url('../fonts/eras_demi_itc-webfont.svg#eras_demi_itcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


